:root {
  color: mediumslateblue;
  --primary: mediumslateblue;
  --primary-darker: #6e5dd6;
  --light-accent: lavender;
  --lighter-accent: #f7f7fd;
}

:root a {
  text-decoration: none;
  color: inherit;
}
